body {
  background-color: beige;
}

#modal {
	background-color: rgba(0,0,0,0.4);
	position: fixed;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	/*This puts our modal in front of the body (which has a default z-index setting of `0`*/
	overflow: auto;
	/*If overflow is clipped, a scroll-bar should be added to see the rest of the content*/
  /* display: none; */
}

#modal-textbox {
	background-color: white;
	/* height: 350px; */
	/* width: 550px; */
	border-radius: 2px;
  /* margin: 150px auto; *;
	/*This will set the margins for the top and the bottom to 150px (or larger). The right and left will automatically set themselves (and keep the box centered horizontally).*/
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
	/*This will give the box some depth.*/
  padding: 2%;
  line-height: 120%;
}

#modal-footer, .display-info {
	text-align: right;
}

.modal-buttons {
	padding: 14px 18px;
	background-color: #677996;
	border: none;
	outline: none;
	border-radius: 3px;
	color: white;
  font-size: 24px;
	font-family: 'Arial';
	cursor: pointer;
}

#quicksort-instructions {
  display: none;
}

#freesort-instructions {
  display: none;
}

.two-cards-selected {
	border-style: solid;
	border-color: beige;
  /* border-width: 3px 0px 3px 0px; */
	padding: 5px;
  display: inline-block;
}

.square {
  border-style: solid;
	border-color: black;
  border-width: thin;
  display: inline-block;
  width: 35px; height: 35px;
  margin: 10px;
  color: white;
  text-shadow:
   -1px -1px 0 #000000,
    1px -1px 0 #000000,
    -1px 1px 0 #000000,
     1px 1px 0 #000000;
  font-size: 24px;
  text-align: center;
  padding-top: 7px;
  /* cursor: pointer; */
}

.card-buttons {
  display: block;
  font-size: 24px;
}

#quicksort-buttons {
  display: none;
}

.pivot-style {
  border-style: solid;
  border-color: red;
  border-radius: 3px;
  border-width: thick;
  padding: 10px;
}
